// start .sBlog
.sBlog {
	@include media-breakpoint-up(lg) {

		--sPB: #{rem(100)};
		--sPT: #{rem(30)};
	}
	--sPB: 80px;
		// --sPB: ;
		// --sTPB: ;
		&__slider{
			@include media-breakpoint-down(lg) {
			overflow: visible;
		}
		}
		.swiper-pagination {
			margin-top: rem(12px);
		}
		.swiper-wrapper{
			margin-left: rem(-10);
			margin-right: rem(-10);
			width: calc(100% + #{rem(20)});
		}
		&__slide{
			min-width: rem(380);
			width: calc(100% / 3);
			padding-left: rem(10px);
			padding-right: rem(10px);
			// margin-right: 20px;
		
			picture{
				@include block(38, 26);
				overflow: hidden;
				background: linear-gradient(0deg, #191C1F, #191C1F), #F6F6F6;
				border-radius: 10px;
				margin-bottom: rem(20);
				img{
					position: absolute;
					left: 0;
					top: 0;
					@include mt;
				}
			}
			p{
				line-height: 125%;
				margin-bottom: rem(10);
				&.foot{
					opacity: 0.4;
				}
			}
		}
		&__item{
			position: relative;
			&:hover{
				img{
					transform: scale(1.12);
				}
				--color: #{$primary2};
			}
		}
		&__title{
			line-height: 125%;
			a{
				&::before{
					content: '';
					@include a-cent;
				}
				// @extend .text-body;
				color: var(--color, #{$body-color}) !important;
			}
			font-size: rem(20);
			margin-bottom: rem(10);
			font-weight: bold;
			max-width: rem(380);
		}
		&__btn{
			@extend .btn, .btn-outline-primary;
			margin-left: auto;
			margin-right: auto;
			margin-top: rem(31);
			width: rem(220);
			display: block;
		}


	&__btns-slider{
		margin-bottom: rem(30);
		@include media-breakpoint-down(lg) {
			overflow: visible;
		}
		.swiper-wrapper{
			@include media-breakpoint-up(lg) {

				justify-content: center;
			}
		}
		.swiper-slide{
			width: auto;
		}
	}
	&__tab-btn{
		@extend .btn, .btn-light;
		&:hover,
		&.active{
			background-color: #fff !important;
			border-color: $primary !important;
		}
		font-size: rem(16px);
		line-height: 100%;
		padding: rem(12);
		width: 152px;
		@include media-breakpoint-up(sm) {
			
			margin-left: 10px;
			margin-right: 10px;
		}
		margin-left: 6px;
		margin-right: 6px;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBlog