mixin sBlog(data)
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Блог
			+e.btns-slider--js.swiper
				.swiper-wrapper
					.swiper-slide: +e.tab-btn(type="button").active  Все
					.swiper-slide: +e.tab-btn(type="button") Обновления
					.swiper-slide: +e.tab-btn(type="button") Новости
					.swiper-slide: +e.tab-btn(type="button") Статьи
			+e.slider.s-slider-js.swiper
				.swiper-wrapper
					mixin slide(i,t,a)
						+e.slide.swiper-slide
							+e.item
								a(href="#").d-block
									+pic(`news-1.jpg`,'bg',0)
								p Работа с клиентом
								+e.title
									a(href="#") В WhatsApp Business API появились новые форматы промо-рассылок 
								p.foot 3 сентября 2021
					+slide()
					+slide()
					+slide()
					+slide()
					+slide()
				.swiper-pagination
			+e.btn.btn-outline-primary(href="#") Перейти в блог
	// end sBlog


mixin sBlogPage(data)
	// start sBlogPage
	+b.SECTION.sBlog--page.section#sBlog&attributes(attributes)
		+e.btns-wrap
			.container
				+e.btns
					+e.btn-item(type="button").active Все
					+e.btn-item(type="button") Обновления
					+e.btn-item(type="button") Новости
					+e.btn-item(type="button") Статьи
					+b.search-blog
						+input(`Поиск в блоге`, `text`)
							button
								+icon('search')
		.container
			+b.section-title
				h1 Блог
			+e.items
				mixin item(i, t, a, p)
					+e.item
						a(href="#").d-block
							+pic(`sBlog-${i}.jpg`,'bg',0)
						p!= t
						+e.title
							a(href="#")!= a
						+e.P.text!= p
						p.foot 3 сентября 2021
				+item(1, `Новости`, `&laquo;Макдоналдс&raquo; планирует отказаться от&nbsp;пластиковых игрушек в&nbsp;&laquo;Хэппи Мил&raquo; по&nbsp;всему миру к&nbsp;2025 году`, `История началась в&nbsp;2019&nbsp;году, когда пара британских школьников организовали петицию на&nbsp;charge.org, призывая &laquo;Макдоналдс&raquo; и&nbsp;&quot;Бургер...`)
				+item(2, `Обновления`, `Приостановление приема заказов, реферальная ссылка и&nbsp;API`, `Обновления в&nbsp;августе затронули функционал приостановления приема заказов от&nbsp;пользователей в&nbsp;нерабочее время заведения. Теперь...`)
				+item(3, `Статьи`, `Как уменьшить ассортимент и&nbsp;увеличить продажи в&nbsp;ресторане доставки еды за&nbsp;6&nbsp;шагов`, `По&nbsp;принципу Парето, 20% усилий дают 80&nbsp;результата. Этот принцип распространяется и&nbsp;на&nbsp;меню ресторана. О&nbsp;том, как работать&nbsp;с...`)
				+item(2, `Обновления`, `Приостановление приема заказов, реферальная ссылка и&nbsp;API`, `Обновления в&nbsp;августе затронули функционал приостановления приема заказов от&nbsp;пользователей в&nbsp;нерабочее время заведения. Теперь...`)
				+item(4, `Статьи`, `Яндекс.Еда выставила счет клиентам: пришло время искать альтернативу?`, `Основанный в&nbsp;2018 году сервис доставки готовой еды из&nbsp;ресторанов и&nbsp;продуктов из&nbsp;магазинов с&nbsp;говорящим названием Яндекс.Еда быстро стал популярным у&nbsp;жителей столицы, а&nbsp;затем&nbsp;&mdash; и&nbsp;друг...`)
				+item(5, `Новости`, `CRM для кафе и&nbsp;ресторана! Новый уровень обслуживания.`, `В&nbsp;мае этого года основной конкурент Яндекс.Еды, сервис доставки еды Delivery Club, ввел плату за&nbsp;свои услуги. Скромная сумма, которая в&nbsp;среднем составляет 19&nbsp;рублей...`)
			+pugin()

	// end sBlogPage