.footer {
		
	border-top: 1px solid #E8E8E8;
	padding-top: rem(70);
	@include media-breakpoint-up(sm) {
	padding-top: rem(40);
	margin-top: rem(50);
	}
	&__logo{ 
		margin-bottom: rem(30);
	}
	&__copy{
		margin-bottom: rem(20);
	}
	.row{
		--bs-gutter-y: 30px;
	}
	&__title{
		font-weight: bold;
		line-height: 125%;
		margin-bottom: rem(15);
		margin-top: rem(15);
	}

	li{
		list-style: none;
		margin-bottom: rem(6);
		a{
			color: #191C1F;
			&:hover{
				opacity: 0.5;
			}
		}
	}
	&__bottom{
		border-top: 1px solid #E8E8E8;
		margin-top: rem(30);
		padding-top: rem(30);
		padding-bottom: rem(30);
		@include media-breakpoint-up(lg) {
			text-align: left;
			padding-bottom: rem(30);
		}
		padding-bottom: rem(70);
		a{
			color: $body-color;
			&:hover{
				color: $primary;
			}
		}
	}
@include media-breakpoint-up(lg) {

	&__col{
		text-align: right;
	}
}
	&__btn + &__btn{
		margin-left: rem(15);
	}
	&__btn{
		@extend .btn;
		&.btn-light{
			font-weight: normal;
		}
		font-size: rem(16);
		width: rem(152);
		margin-bottom: rem(20);
		padding: rem(9);
	
	}
	&__contacts{
		display: flex;
		@include media-breakpoint-up(lg) {

			justify-content: flex-end;
		}
		justify-content: center; 
		align-items: center;
		@include roww(10px, m);
		margin-bottom: rem(15);
	}
	&__tel{
		color: #191C1F;
		font-weight: bold;
	}
	p{
		margin-bottom: rem(8);
	}
	&__mail{
		opacity: 0.5;
		@extend .text-body;
		border-bottom: 1px solid transparent;
		&:hover{
			border-color: currentColor;
		}
	}
	&__btn-top{
		display: inline-flex;
		align-items: center;
		margin-top: rem(20);
		cursor: pointer;
		position: relative;
		.text-btn{
			margin-right: rem(20);
		}
	}
	&__circle{
		&:before{
			content: '';
		@include a-cent;
		}
		@extend .btn, .btn-light;
		width: rem(50);
		height: rem(50);
		// display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		.icon{	
				color: $primary;
				font-size: 16px;
		}
		padding: 0;
		border-radius: 50%;
	}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {
	text-align: center;
	.soc{
		justify-content: center;
		margin-bottom: rem(20);
	}
}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
