// start .sContact
.sContact {
	--sPT: #{rem(40)};
	--sPB: #{rem(40)};
	--sTPB: #{rem(40)};
	.row {
		--bs-gutter-y: #{rem(30)};
	}
	.section-title {
		h2 {
			@extend .h4;
			margin-bottom: 0;
		}
	}
	&__map {
		position: relative;
		height: 310px;
		border-radius: 8px;
		overflow: hidden;
		@include media-breakpoint-up(md) {
			height: 350px;
			margin-right: rem(10);
		}
		@include media-breakpoint-up(xl) {
			margin-right: rem(40);
		}
		// @include media-breakpoint-up(xl) {
		// 	height: rem(420);
		// }
		// @include media-breakpoint-up(xxl) {
		// 	height: rem(480);
		// }
		&-widget {
			height: 100%;
			width: 100%;
			// @include media-breakpoint-up(md) {
			// 	width: calc(((100vw - 100%) / 2) + 100%);
			// }
			// // & > * {
			// // 	height: 100%;
			// // }
			// .ymaps-2-1-79-ground-pane {
			// 	//  @include mt;
			// 	transition: filter 0.3s;
			// }
			// &:not(:hover) .ymaps-2-1-79-ground-pane {
			// 	// filter: saturate(0);
			// 	filter: grayscale(1);
			// }
		}
	}
	ul {
		list-style: none;
		margin-bottom: 0;
	}
	li {
		margin-bottom: rem(20);
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__social-btn {
		@include roww(10px, m);
		display: inline-flex;
		align-items: center;
		line-height: 125%;
		color: $primary2;
		padding: rem(4) 0;
		&:hover {
			color: shift-color($primary2, $link-shade-percentage);

			.soc__item {
				background-color: var(--bg-hover);
			}
			span {
				&::before {
					opacity: 0;
				}
			}
		}
		.soc__item {
			.icon {
				font-size: rem(16);
			}
		}
		& > span {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				left: 0;
				bottom: 0;
				background-color: currentColor;
			}
		}
	}
	&__btn {
		@extend .btn, .btn-outline-secondary;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: rem(16);
		font-weight: 600;
		padding: rem(9) rem(20);
		color: $body-color !important;
		width: auto;
		img {
			width: rem(24);
			height: rem(24);
			margin-right: rem(10);
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sContact
