.pixel-perfect {
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	min-height: 100%;
	// height: 10713px;
	background-position: center 0;
	// top: -633px;
	top: 0px;
	opacity: 0;
	// opacity: 0.7;
} 

body,
html {
	font-size: var(--bs-body-font-size);
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	min-width: 575px; 
	// -webkit-font-smoothing: antialiased;
	// position: relative;
	// overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: $body-color;
		background-color: rgba($body-color, 0.8); 
    backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper { 
	position: relative;
	width: 100%;
	overflow: hidden;
	// display: flex;
	// flex-direction: row; 
// /	overflow: scroll;
	// width: 100%; 
	// height: 100vh;
	// height: calc(var(--vh, 1vh) * 100);
	
	
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }






.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	margin-bottom: var(--sTPB);
	h2{
		margin-bottom: rem(16);
	}
	p{ 
		font-size: 18px;
	}
}



.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			transform:  transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		// &.active {}

	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%; 
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y); 
	@extend .btn, .btn-light;
	&:hover{
		background-color: var(--bs-primary)  !important;
		border-color:  var(--bs-primary)  !important;
		color: #fff !important;
	}
	padding: 0;
	line-height: var(--swiperArrowSize);
	vertical-align: middle;
	text-align: center;
	color: $primary !important;
	@include mt;
	user-select: none;

	.icon {
		font-size: rem(12);
		position: relative;
		top: rem(-2);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	&-bullet {
		opacity: 1;
		width: rem(8px);
		height: rem(8px);
		border-radius: 50%;
		background-color: #DDDDDD;
		outline: none !important;
		@include mt;
		margin-left: rem(5);
		// padding-right: rem(8);
		margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

// img{
	// content-visibility: auto;
// }
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }




.custom-scroll {
	/* ===== Scrollbar CSS ===== */
  /* Firefox */
	// --bs-primary: #DEDEDE;
 
  & {
    scrollbar-width: auto;
    scrollbar-color: var(--bs-primary)  #F6F6F6;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 4px;
		height: 4px;
  }

  &::-webkit-scrollbar-track {
    background:  #F6F6F6;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: 4px;
    border: 0px solid transparent;
  }

}

::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}

// .swiper-wrapper{
// 	@include row-sw(10px, sm, 100px);
// }

.btn-default{
color: rgba(25, 28, 31, .5);
}
.btn-outline-primary{
	&:active,
	&:hover{
		color: #fff !important;
	}
}

.btn-primary,
.btn-outline-primary{
	font-weight: bold;
}
.btn-primary{
	color: #fff !important;
}

.item-with-img{
	text-align: center;

	&__img{
		margin: 0 auto rem(20);
		// padding: 30px;
		// vertical-align: rem(100);
		line-height: rem(100);
		border-radius: 100%;
		background: $light;
		width: rem(100);
		height: rem(100);
		vertical-align: middle;
	}
}

.accordion-item{

	--imgS: #{rem(80)};
	&:first-child{
		border-top: 1px solid #E8E8E8;
	}
	border-bottom: 1px solid #E8E8E8;
	&__img-wrap{
		width: var(--imgS);
		height: var(--imgS);
		vertical-align: middle;
		line-height: var(--imgS);
		text-align: center;
		background: #F6F6F6;
		border-radius: 10px;
		img{
			width: rem(40);
		}
	}
	&__head{
		font-size: rem(26);
		font-weight: bold;
		position: relative;
		padding-top: rem(20);
		padding-bottom: rem(19);
		padding-right: rem(40);
		cursor: pointer;
		.icon{
			position: absolute;
			color: $primary;
			@include a-cent1(y);
			right: 0;
			font-size: rem(20);
			@include mt;
		}
		.row{
			align-items: center;
		}
		&.active{
			.icon{
				transform: translateY(-50%) rotateX(180deg);
			}
		}
	}
	&__content{
		--bs-gutter-x: #{$grid-gutter-width};
		@include media-breakpoint-up(lg) {

			padding-left: calc(var(--imgS) + var(--bs-gutter-x));
		}
		padding-bottom: rem(40);
		display: none;
		padding-right: rem(40);
		* {
			max-width: rem(990);
		}
	}
	ul{
		padding-left: rem(18);
		margin-bottom: rem(20);
	}
	li{
		margin-bottom: rem(10);
		&::marker{
			color: $primary;
		}
	}
}


.btn{
	box-shadow: none !important;
}

input{
	box-shadow: none !important;
}

.container{
	@include media-breakpoint-down(sm) {
		padding-left: 30px;
		padding-right: 30px;
	}
}


.btn-primary{
	&:hover{
		// background: #FF8726 !important;
		// border-color: #FF8726 !important;
	}
}


.btn-light{
	&:hover{
		color: $body-color;
		background-color: transparent ;
		border-color: $primary;
	}
}

.hover-card{
	@include mt;
	&:hover{
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
	}
}