@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-chevron-down {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-chevron-left {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-chevron-right {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-chevron-up {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-close {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-facebook {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-logout {
	font-size:math.div(30,10)*1rem;
	width: math.div(30,30)*1em;
}
.icon-star {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-telegram {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-telegram2 {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-twitter {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
