$output-bourbon-deprecation-warnings: false;
// @use "sass:list";
// @use "sass:map";
@use "sass:math";
// @use "sass:meta";

// @import "mq";
@import "bourbon/app/assets/stylesheets/bourbon";
// @import "../../node_modules/rfs/scss";
// @import "./node_modules/@fancyapps/ui/src/Fancybox/Fancybox.scss";
// @import "./node_modules/swiper/swiper.scss";

@import "mixin";
@import "fonts";
@import "_sprite";
// @import "bootstrap-theme/bootstrap";

// Option B: Include parts of Bootstrap

// v5

// Layout & components

@import "../../node_modules/bootstrap/scss/functions";
@import "vars";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
// @import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
// @import "../../node_modules/bootstrap/scss/nav";
// @import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas";
// @import "../../node_modules/bootstrap/scss/offcanvas";
// @import "../../node_modules/bootstrap/scss/placeholders";
// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

@import "../../node_modules/bootstrap/scss/pagination";

.pagination-wrapper ul {
	@extend .pagination;
	@include roww(10px, m);
	justify-content: center;
	margin-bottom: 0;
	margin-top: rem(40);
}

.pagination-wrapper li {
	@extend .page-item;
	a {
		cursor: pointer;
	}
	.page-numbers {
		@extend .page-link;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: $pagination-border-radius;
		width: rem(35);
		height: rem(35);
		font-size: rem(14);

		&.prev,
		&.next {
			.icon {
				font-size: rem(16);
			}
			&:not(:hover) {
				color: $primary;
				background-color: $light;
				border-color: $light;
			}
			&.disabled {
				color: $pagination-disabled-color;
				background-color: $pagination-disabled-bg;
				border-color: $pagination-disabled-border-color;
				pointer-events: none;
			}
		}
		&.current {
			z-index: 1;
			color: $pagination-active-color;
			background-color: $pagination-active-bg;
			border-color: $pagination-active-border-color;
		}
	}
}
@import "root";
@import "base";
@import "../pug/blocks/**/*.scss";
@import "media"; // Всегда в конце
