// start .sRestHeaderblock
.sRestHeaderblock {
	// --sPT: ;
	// --sPB: ;
	--sTPB: #{rem(20)};
	.container {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: calc(100% - rem(20));
			height: 1px;
			background-color: $secondary;
			left: rem(10);
			bottom: calc(-1 * var(--sPB));
		}
		.row {
			@include media-breakpoint-up(xl) {
				--bs-gutter-x: #{rem(40)};
			}
		}
	}
	.stars {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		margin-bottom: rem(20);
		max-width: rem(160);
		@include media-breakpoint-up(md) {
			justify-content: flex-start;
		}
		@include media-breakpoint-up(lg) {
			justify-content: flex-start;
			max-width: rem(196);
		}
		span {
			display: block;
			font-size: rem(14);
			line-height: 1;
			margin-left: rem(10);
		}
		&__rating {
		}
	}
	picture {
		margin-bottom: rem(20);
		max-width: rem(160);
		@include media-breakpoint-up(lg) {
			max-width: rem(196);
		}
	}
	&__content {
		p {
			font-size: rem(16);
			line-height: 150%;
			margin-bottom: rem(20);
		}
		.row {
			--bs-gutter-y: #{rem(32)};
		}
	}
	&__btn {
		@extend .btn, .btn-primary2;
		width: 100%;
		max-width: rem(195);
	}
	&__social {
		display: flex;
		align-items: center;
		@include media-breakpoint-up(sm) {
			justify-content: flex-end;
		}
		& > span {
			font-size: rem(16);
			line-height: 125%;
			font-weight: 600;
			margin-right: rem(15);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sRestHeaderblock

.btn-icon-primary2 {
	@extend .btn, .btn-primary2;
	font-size: rem(16);
	line-height: 125%;
	font-weight: bold;
	padding: rem(13) rem(21);
	color: $white !important;
	.icon {
		margin-right: rem(10);
		font-size: rem(20);
	}
}
