// start .sFacilityMenu
.sFacilityMenu {
	--sPT: #{rem(40)};
	--sPB: #{rem(40)};
	--sTPB: #{rem(24)};
	.section-title {
		h2 {
			font-size: rem(20);
			margin-bottom: 0;
		}
	}
	&__slider-wrapper {
		position: relative;
		.swiper-button-hand {
			--swiperArrowPosition: var(--swiperArrowSize);
			border-width: 1px;
			&:not(:hover) {
				background-color: $white;
				border-color: $secondary;
			}
			&.swiper-button-disabled {
				opacity: 0;
			}
			&-next {
				right: calc(-1 * var(--swiperArrowPosition) / 2);
			}

			&-prev {
				left: calc(-1 * var(--swiperArrowPosition) / 2);
			}
		}
	}
	&__slider {
		overflow: visible;
		@include media-breakpoint-up(lg) {
			overflow: hidden;
		}
		&::after {
			@include media-breakpoint-up(lg) {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			background-image: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
				width: calc((100% / 4.5 - 80px / 4.5) / 2);
				z-index: 1;
				pointer-events: none;
			}
			@include media-breakpoint-up(xl) {
				width: calc((100% / 5.5 - 100px / 5.5) / 2);
			}
		}
		.swiper-scrollbar {
			margin-top: rem(30);
		}
	}
	&__slide {
		height: auto;
		width: calc(100% / 2.5 - 40px / 2.5 + 30px / 2.5);
		@include media-breakpoint-up(md) {
			width: calc(100% / 3.5 - 60px / 3.5 + 30px / 3.5);
		}
		@include media-breakpoint-up(lg) {
			width: calc(100% / 4.5 - 80px / 4.5);
		}
		@include media-breakpoint-up(xl) {
			width: calc(100% / 5.5 - 100px / 5.5);
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $light;
		height: 100%;
		border-radius: $border-radius;
		padding: 20px;
		text-align: center;
		&:hover {
			h6 {
				color: $primary;
			}
		}
		& > * {
			@include mt;
		}
		picture {
			width: rem(60);
			height: rem(60);
			margin-bottom: 20px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		h6 {
			font-size: rem(16);
			line-height: 100%;
			font-weight: 600;
			margin-bottom: 10px;
			color: $body-color;
		}
		.small {
			color: $body-color;
			opacity: 0.5;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sFacilityMenu
