// start .headerBlock
.headerBlock {
	margin-top: #{rem(75px)};
		@media (min-width: 1200px) and (max-width: 1459.98px) {

			--sPT: #{rem(50px)};
		}
		@include media-breakpoint-up(lg) {

			
			--sPT: #{rem(100px)};
		}
	--sTPB: #{rem(30px)};
	.section-title{

		h1{
			margin-bottom: rem(30);
		}
		p{
			margin: 0;
		}
	}
		&__video-wrap{
		position: relative;
		@include block(248, 539);
		margin-left: auto;
		margin-right: auto;
			@media (min-width: 1200px) and (max-width: 1459.98px) {
				width: rem(279px);
				height: rem(563px);

			}
		width: 279px;
		height: 563px;
			@include media-breakpoint-down(sm) {
				margin-bottom: 40px;
			}
		video{
			position: absolute;
			width: calc(100% - 30px);
			height: calc(100% - 30px);
			// object-fit: cover;
			// object-position: top;
			// top: rem(10);
			@include a-cent;
		}
		&::after{
			content: '';
			@include a-cent1;
			background-image: url(../img/svg/mockup.svg);
			width: 100%;
			height: 100%;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	&__btn{
		@extend .btn, .btn-primary;
		width: rem(220);
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
		margin-bottom: 60px;
	}
	&__row{

	}
	&__item{
		@include media-breakpoint-up(sm) {

			width: 200px;
		}
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		max-width: rem(300);
		.strong{
			@include rfs(50px);
			font-weight: bold;
			line-height: 120%;
			margin-bottom: rem(10);
		}
		&:not(:last-child){
			margin-bottom: rem(55px);
		}
		p{
			line-height: 125%;
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {
		text-align: center;
	}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

 
.item{
	text-align: center;

	&__img{
		margin: 0 auto rem(20);
		padding: 30px;
		border-radius: 100%;
		background: $light;
		width: 100px;
		height: 100px;
	}
	h6,
	.h6{
		line-height: 150%;
		margin-bottom: rem(12);
	}
}