mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			.row.align-items-center
				.col-lg-5
					+b.section-title
						h1 Чат-бот в&nbsp;Telegram с&nbsp;приемом платежей для ресторанов
						p Подключите свой ресторан к&nbsp;ChatFood и&nbsp;получайте заказы на&nbsp;доставку и&nbsp;самовывоз через популярный мессенджер Telegram
					+e.btn(href="#") Создать чат-бота
				.col
					+e.video-wrap
						video(loading='lazy' preload='auto' no-controls  autoplay  loop  playsinline  muted  )
							source(src="video/video.mp4" type='video/mp4')
				+e.col.col-sm-auto
					mixin item(t,p)
						+e.item
							.strong!= t  
							p!= p
					+item(`36`,`Заказов в&nbsp;месяц в&nbsp;среднем получают наши клиенты через чат-бота`)
					+item(`0%`,`Вам не&nbsp;нужно отдавать процент с&nbsp;заказов`)
					+item(`5`,`Дней в&nbsp;среднем требуется на&nbsp;запуск чат-бота для ресторана`)
	// end headerBlock