// start .sCases
.sCases {
		// --sPT: ;
		// --sPB: ;
	
		--sTPB: #{rem(56)};

	h2{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(600);
	}
	@include media-breakpoint-down(lg) {
		&__slider{
			overflow: visible;
		}
		}
		.swiper-pagination {
			margin-top: rem(20px);
		}
	&__slide{
		height: auto;
			@include media-breakpoint-down(lg) {
				width: 330px;
			}
	}
	&__item{
		padding: rem(20);
		border: 1px solid #E8E8E8; 
		border-radius: 15px;
		text-align: center;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		align-items: center;
		position: relative;
		text-align: center;
		p{
			margin-bottom: rem(15);
		}
	}
	picture{
		border-radius: 50%;
		width: rem(100);
		height: rem(100);
		margin-bottom: rem(15);
	}
	&__title{
		font-size: rem(18);
		font-weight: bold;
		margin-bottom: rem(10);
		line-height: 125%;
	}
	&__btn{
		@extend .btn;
		&.btn-outline-primary{

			width: 100%;
			margin-top: auto;
			font-size: rem(16);
			font-weight: bold;
			padding: rem(9);
		}
		.icon{
			font-size: rem(20);
			margin-right: rem(10);
		}
	}
	&__slider-wrapper{
		position: relative;
		max-width: rem(1320);
		margin-left: auto;
		margin-right: auto;
	}
	.swiper-button-hand{
		top: rem(-54);
	}
	&__btn{
		&:before{
			content: '';
			@include a-cent;
		}
		@extend .btn, .btn-outline-primary2;
		width: 100%;
		font-weight: bold;
		font-size: rem(16);
		padding: rem(9);
		.icon{
			margin-right: rem(10);
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {
		--sPB: #{rem(62)};
	}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCases