// start .sWeRecommend
.sWeRecommend {
	--sPT: #{rem(30)};
	--sPB: #{rem(50)};
	--sTPB: #{rem(40)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(30)};
		--sPB: #{rem(50)};
		--sTPB: #{rem(60)};
	}
	&__slider {
		@include media-breakpoint-down(lg) {
			overflow: visible;
		}
	}
	.swiper-pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
	}
	&__slider-wrapper {
		position: relative;
	}
	.swiper-wrapper {
	}

	&__slide {
		height: auto;
		width: calc((100% / 2.5 - 20px / 2.5 + 30px / 2.5) * 2);
		@include media-breakpoint-up(sm) {
			width: calc(100% / 1.3 - 20px / 1.3 + 30px / 1.3);
		}
		@include media-breakpoint-up(md) {
			width: calc(100% / 2.2 - 40px / 2.2 + 30px / 2.2);
		}
	}
	.swiper-button-hand {
		margin: 0;
		--swiperArrowSize: 50px;

		--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
		@include media-breakpoint-up(lg) {
			top: calc(205px / 2 - var(--swiperArrowSize) / 2);
		}
		@include media-breakpoint-up(xl) {
			top: calc(260px / 2 - var(--swiperArrowSize) / 2);
		}
		@media (min-width: 1400px) {
			--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) - 20px);
		}
	}
	&__item {
		position: relative;
		&:hover {
			img {
				transform: scale(1.12);
			}
			--color: #{$primary2};
		}
		picture {
			@include block(38, 26);
			overflow: hidden;
			background: linear-gradient(0deg, #191c1f, #191c1f), #f6f6f6;
			border-radius: 10px;
			margin-bottom: rem(20);
			img {
				position: absolute;
				left: 0;
				top: 0;
				@include mt;
			}
		}
		p {
			line-height: 125%;
			margin-bottom: rem(10);
			&.foot {
				opacity: 0.4;
				margin-bottom: 0;
			}
		}
	}
	&__title {
		line-height: 125%;
		a {
			&::before {
				content: "";
				@include a-cent;
			}
			// @extend .text-body;
			color: var(--color, #{$body-color}) !important;
		}
		font-size: rem(20);
		margin-bottom: rem(10);
		font-weight: bold;
		max-width: rem(380);
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sWeRecommend
