extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAccordion/_sAccordion.pug
include ../blocks/sCompare/_sCompare.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sPrises/_sPrises.pug
include ../blocks/sRew/_sRew.pug
include ../blocks/sCases/_sCases.pug
include ../blocks/sBlog/_sBlog.pug
include ../blocks/sWhy/_sWhy.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg=  null

block title
	- let  title= 'title'
	title= title
block pagecontent 
	+top-nav()
	+headerBlock()
	+sWhy
	+sAccordion({
		t:`Функции  чат-бота для ваших клиентов`,
		p:`Чат-бот в Telegram`,
	})
		+ddGroupItem(`function-1`,`Меню блюд`) 
			p Пользователь видит полный ассортимент меню, может добавлять блюда в&nbsp;корзину, выбирать количество и&nbsp;оформлять заказ.
		+ddGroupItem(`function-2`,`Онлайн-оплата или оплата курьеру`) 
			p Ваш клиент может выбрать наиболее удобный для него способ оплаты из&nbsp;предложенных вами вариантов:
			ul
				li онлайн-оплата через Telegram
				li оплата наличными курьеру
				li оплата картой курьеру
				li оплата при самовывозе.
		+ddGroupItem(`function-3`,`Акции`) 
			p Ваш клиент может ознакомиться с&nbsp;акциями ресторана в&nbsp;специальном разделе и&nbsp;воспользоваться предложением: заказать доставку или прийти в&nbsp;ресторан.
		+ddGroupItem(`function-4`,`Бонусная и реферальная система`) 
			p Пользователь получает бонусные баллы в&nbsp;следующих случаях:
			ul 
				li за первую регистрацию в чат-боте
				li за&nbsp;приглашение друга в&nbsp;чат-бот вашего ресторана, в&nbsp;случае, если приглашенный оформит заказ
				li кешбэк в&nbsp;виде баллов с&nbsp;каждого заказа.
			p Каждый параметр настраивается под ваш ресторан.
		+ddGroupItem(`function-5`,`Оценка блюд из заказа`) 
			p После каждого выполненного заказа чат-бот автоматически присылает клиенту список блюд из&nbsp;заказа на&nbsp;оценку.

			p Каждое блюдо оценивается по&nbsp;пятибальной системе, после чего пользователь получает кэшбек с&nbsp;заказа.
		+ddGroupItem(`function-6`,`Бронирование стола`) 
			p Если в&nbsp;вашем ресторане предусмотрено бронирование столов, мы&nbsp;можем подключить эту функцию. Пользователь сможет узнать актуальную информацию о&nbsp;бронировании прямо в&nbsp;чат-боте.
		+ddGroupItem(`function-7`,`Контакты и информация`) 
			p Контактная информация ресторана, адрес, социальные сети и&nbsp;карта с&nbsp;возможностью проложить маршрут в&nbsp;навигаторе или картах прямо в&nbsp;чат-боте.
	
	+sAccordion({
		t:`Функции  CRM-системы `,
		p:`Доступ ко всему функционалу через смартфон`,
	})
		+ddGroupItem(`function-crm-1`,`Заказы`)
			p Пользователь видит полный ассортимент меню, может добавлять блюда в&nbsp;корзину, выбирать количество и&nbsp;оформлять заказ.
		+ddGroupItem(`function-crm-2`,`Клиентская база`)
			p Ваш клиент может выбрать наиболее удобный для него способ оплаты из&nbsp;предложенных вами вариантов:
			ul
				li онлайн-оплата через Telegram
				li оплата наличными курьеру
				li оплата картой курьеру
				li оплата при самовывозе.
		+ddGroupItem(`function-crm-3`,`Меню блюд`)  
			p Ваш клиент может ознакомиться с&nbsp;акциями ресторана в&nbsp;специальном разделе и&nbsp;воспользоваться предложением: заказать доставку или прийти в&nbsp;ресторан.
		+ddGroupItem(`function-crm-4`,`Рассылки`)  
			p Пользователь получает бонусные баллы в&nbsp;следующих случаях:
			ul 
				li за&nbsp;первую регистрацию в&nbsp;чат-боте
				li за&nbsp;приглашение друга в&nbsp;чат-бот вашего ресторана, в&nbsp;случае, если приглашенный оформит заказ
				li кешбэк в&nbsp;виде баллов с&nbsp;каждого заказа.
		+ddGroupItem(`function-crm-5`,`Аналитика`)  
			p После каждого выполненного заказа чат-бот автоматически присылает клиенту список блюд из&nbsp;заказа на&nbsp;оценку.

			p Каждое блюдо оценивается по&nbsp;пятибальной системе, после чего пользователь получает кэшбек с&nbsp;заказа.
		+ddGroupItem(`function-crm-6`,`Бонусная и реферальная система`)  
			p Если в&nbsp;вашем ресторане предусмотрено бронирование столов, мы&nbsp;можем подключить эту функцию. Пользователь сможет узнать актуальную информацию о&nbsp;бронировании прямо в&nbsp;чат-боте.
		+ddGroupItem(`function-crm-7`,`Настройки`) 
			p Контактная информация ресторана, адрес, социальные сети и&nbsp;карта с&nbsp;возможностью проложить маршрут в&nbsp;навигаторе или картах прямо в&nbsp;чат-боте.

	//- +sAccordion
	+sCompare
	+sSteps
	+sPrises
	+sRew
	+sAccordion({
		t:`Ответы на вопросы`
	}).sAccordion--faq
		+ddGroupItem(``,`Как мы будем узнавать о новых заказах?`) 
			p Вы будете получать заказы в удобной CRM-системе, а также уведомления о новых заказах в чат-боте.
		
		+ddGroupItem(``,`Кто будет добавлять заказы?`)
			p Доставлять заказы будут ваши курьеры, если у вас нет своих курьеров вы можете воспользоваться услугами Яндекс.Go, Ситимобил и пр.
		
		+ddGroupItem(``,`Как изменить меню, цены, данные о ресторане после запуска чат-бота?`)
			p Управление меню и ценами, информацией о ресторане будет доступно вам в CRM-системе в любое время.
		
		+ddGroupItem(``,`Что делать, если закончились продукты для каких-либо блюд?`)
			p Вы будете получать заказы в удобной CRM-системе, а также уведомления о новых заказах в чат-боте.
		
		+ddGroupItem(``,`Возможна ли интеграция чат-бота с нашей системой управления ресторанов?`) 
			p У нас есть API, при необходимости вы можете интегрировать чат-бота со своей системой с помощью своего программиста или программиста вашей системы управления. Также мы можем предложить услуги по интеграции, стоимость и сроки интеграции зависят от вашей системы.
		
		+ddGroupItem(``,`Какие платежные системы можно подключить для онлайн-оплаты в чат-боте?`)
			p Доставлять заказы будут ваши курьеры, если у вас нет своих курьеров вы можете воспользоваться услугами Яндекс.Go, Ситимобил и пр.
		
	//- +sAccordion
	+sCases
	+sBlog
	+sForm()
	+footer()
      



