mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.wrapper
				h1 Британский стартап доставки продуктов за 15 минут 
					
				.row
	// end sContent