// start .sContent
.sContent {
	--sPT: #{rem(40)};
	--sPB: #{rem(30)};
	&__body {
		position: relative;
	}
	&__wrapper {
		max-width: 780px;
		margin-left: auto;
		margin-right: auto;
	}
	h1 {
		@include rfs(#{rem(50)});
		margin-bottom: 40px;
		line-height: 120%;
	}
	h2 {
		@include rfs(#{rem(40)});
		margin-bottom: 40px;
		line-height: 125%;
	}
	h3 {
		@include rfs(#{rem(26)});
		margin-bottom: 40px;
		line-height: 125%;
	}
	h4 {
		@include rfs(#{rem(20)});
		margin-bottom: 40px;
		line-height: 125%;
	}
	h5 {
		@include rfs(#{rem(18)});
		margin-bottom: 40px;
		line-height: 125%;
	}
	h6 {
		@include rfs(#{rem(16)});
		margin-bottom: 20px;
		line-height: 125%;
	}
	p {
		min-height: 0.25em;
	}
	&__date {
		@include roww(20px);
		color: rgba($color: $body-color, $alpha: 0.5);
		line-height: 125%;
		margin-bottom: 40px;
		span {
			display: inline-block;
		}
	}
	&__soc-wrapper {
		@include media-breakpoint-up(lg) {
			position: absolute;
			left: 0;
			top: 0;
			width: 30px;
			height: 280px;
		}
	}
	.social-block {
		margin-bottom: 40px;
		&--fixed {
			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
				position: absolute;
				left: 0;
				top: 0;
				transform: rotate(90deg);
				transform-origin: left;
				.icon {
					transform: rotate(-90deg);
				}
			}
		}
	}
	&__media {
		margin-bottom: 40px;
		& > span {
			display: inline-block;
			line-height: 125%;
			margin-top: rem(10);
			color: rgba($color: $body-color, $alpha: 0.5);
		}
	}
	article {
		margin-bottom: 60px;
	}
	ul {
		padding-left: 1.2rem;
		margin-bottom: 0;
	}
	ol {
		padding-left: 1.6rem;
		margin-bottom: 0;
	}
	li {
		margin-bottom: rem(10);
		&:last-child {
			margin-bottom: 0;
		}
		&::marker {
			color: $primary;
		}
		a {
			position: relative;
			@extend .link-primary2;
			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: currentColor;
			}
			&:hover {
				&::after {
					opacity: 0;
				}
			}
		}
	}
	// .gallery-slider {
	// 	margin-bottom: 40px;
	// }

	hr {
		margin-top: 40px;
		margin-bottom: 40px;
		color: $secondary;
		height: 1px;
		opacity: 1;
	}
	&__footer {
		.row {
			align-items: center;
		}
		.social-block {
			margin-bottom: 0;
		}
		h6 {
			line-height: 125%;
			color: rgba($color: $body-color, $alpha: 0.5);
			margin-bottom: 0;
		}
	}

	.table-scroll-block {
		// overflow-x: auto;
		// @extend .custom-scroll;
		// margin-bottom: rem(60);
		overflow: visible;
		.swiper-slide {
			width: auto;
			@include media-breakpoint-down(lg) {
			}
		}
		&__wrap {
			border: 1px solid #e8e8e8;
			border-radius: 8px;
			width: 780px;
			@include media-breakpoint-down(xl) {
				// margin-bottom: 20px;
			}
			table {
				margin: 0;
				width: 100%;
				line-height: 125%;
			}
			thead {
			}
			td,
			th {
				padding: 13px 20px;
				width: 25%;
				text-align: center;
				line-height: 125%;
				img {
					max-width: 100%;
					height: auto;
				}

				&:first-child {
					text-align: left;
					padding-left: rem(20);
				}
				&:not(:last-child) {
					border-right: 1px solid #e8e8e8;
				}
			}
		}
		tbody {
			th,
			td {
				border-top: 1px solid #e8e8e8;
			}
		}
		tr {
			&:nth-child(1) {
				td {
					&:nth-child(3) {
						background-color: #f6f6f6;
					}
				}
			}
		}
	}

	&__main-wrapper {
		position: relative;
		max-width: 1760px;
		margin-left: auto;
		margin-right: auto;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sContent

.gallery-slider {
	overflow: visible;
	@include media-breakpoint-up(lg) {
		overflow: hidden;
	}
	.swiper-wrapper {
	}
	&__slide {
		height: auto;
		width: calc((100% / 2.5 - 20px / 2.5 + 30px / 2.5) * 2);
		@include media-breakpoint-up(sm) {
			width: calc(100% / 1.3 - 20px / 1.3 + 30px / 1.3);
		}
		@include media-breakpoint-up(md) {
			width: calc(100% / 2.2 - 40px / 2.2 + 30px / 2.2);
		}
	}
	picture {
		@include block(247, 170);
		background-color: #f6f6f6;
		border-radius: $border-radius;
		overflow: hidden;
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
.gallery2-slider {
	--swiperArrowSize: 50px;
	--swiperArrowPosition: 20px;
	&__slide {
		picture {
			@include block(780, 440);
			background-color: #f6f6f6;

			img {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	.swiper-button-hand {
		top: -40px;
	}
	.swiper-pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
	}
}

.modal-banner {
	position: absolute;
	top: 0;
	right: 5px;
	z-index: 10;
	padding: 60px 30px 30px;
	text-align: center;
	max-width: 290px;
	border-radius: 12px;
	background-color: $light;
	h6 {
		font-size: 18px;
		margin-bottom: 20px;
		line-height: 125%;
	}
	p {
		font-size: 16px;
		margin-bottom: 20px;
		line-height: 125%;
		width: 100%;
	}
	&__btn {
		@extend .btn, .btn-primary;
		font-size: 16px;
		padding: 10.5px;
		line-height: 125%;
		margin-bottom: 25px;
		width: 100%;
	}
	&__close-btn {
		position: absolute;
		border: none;
		outline: none;
		width: 26px;
		height: 26px;
		top: 17px;
		right: 17px;
		padding: 0;
		background-color: transparent;
		&:hover, &:active {
			color: $primary;
		}
		.icon {
			@include a-cent;
			font-size: 20px;
		}
	}
	&__video-wrap {
		position: relative;
		@include block(166, 344);
		margin-left: auto;
		margin-right: auto;
		width: 166px;
		height: 344px;
		// @media (min-width: 1200px) and (max-width: 1459.98px) {
		// 	width: rem(279px);
		// 	height: rem(563px);
		// }
		// @include media-breakpoint-down(sm) {
		// 	margin-bottom: 40px;
		// }
		video {
			// @media (min-width: 1200px) and (max-width: 1459.98px) {
			// 	--sp: #{rem(22px)};
			// }
			--sp: 18px;
			position: absolute;
			width: calc(100% - var(--sp));
			height: calc(100% - var(--sp));
			// object-fit: cover;
			// object-position: top;
			// top: rem(10);
			@include a-cent;
		}
		&::after {
			content: "";
			@include a-cent1;
			background-image: url(../img/svg/mockup.svg);
			width: 100%;
			height: 100%;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}
