mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
			//- +e.main-wrapper
			+b.modal-banner.d-none.d-lg-block
				h6 Создайте своего чат-бота для ресторана за&nbsp;5&nbsp;минут
				p Перейдите к&nbsp;регистрации и&nbsp;создайте своего бота
				+e.btn(href="#") Создать чат-бота
				+e.BUTTON.close-btn
					+icon('close')
				+e.video-wrap
					video(loading='lazy' preload='auto' no-controls autoplay loop playsinline muted)
						source(src="video/video.mp4" type='video/mp4')
			.container
				+e.head
					+e.wrapper
						h1 Британский стартап доставки продуктов за 15 минут
						+e.date
							span.text-primary.strong Новости 
							span 3 сентября 2021
				+e.body
					+e.soc-wrapper
						+social-block().--fixed
					+e.wrapper
						+e.media
							+pic('sContent-1.jpg', '', 0)
							span Описание изображения
						p Компания, основанная фаундером DC&nbsp;Daily Артуром Шамаловым и&nbsp;бывшим генеральным директором X5&nbsp;Food Tech Владимиром Холязниковым, начала свою деятельность в&nbsp;апреле 2021&nbsp;года. С&nbsp;момента запуска Jiffy открыли восемь дарксторов в&nbsp;шести зонах доставки Лондона и&nbsp;нарастили базу в&nbsp;20&nbsp;тысяч клиентов. 
						p Альтернативным источником дохода компания рассматривает предоставление своей IT-платформы для избранных локальных игроков на&nbsp;других рынках. К&nbsp;примеру, в&nbsp;настоящее время сервис сотрудничает с&nbsp;курьерской службой Send в&nbsp;Австралии.
						p
						p
						h2 Первый dark store сервиса в&nbsp;Лондоне открылся меньше полугода назад.
						ul
							li Jiffy привлёк деньги от&nbsp;инвестиционной компании Heartland, фонда Flint Capital, основателей Playrix братьев Бухманов и&nbsp;действующих инвесторов&nbsp;&mdash; Baring Vostok и&nbsp;LVL1, сообщает #[a(href="#") TechCrunch]. Общая сумма инвестиций в&nbsp;стартап с&nbsp;момента основания в&nbsp;апреле 2021 года&nbsp;&mdash; около $35&nbsp;млн.
							li По&nbsp;собственным данным, у&nbsp;Jiffy около 20&nbsp;тысяч клиентов в&nbsp;шести зонах доставки в&nbsp;Лондоне и&nbsp;восемь dark store (магазинов для сбора заказов).
							li Jiffy&nbsp;&mdash; сервис для доставки продуктов за&nbsp;15&nbsp;минут. Компанию создали в&nbsp;ноябре 2020 года в&nbsp;Лондоне сооснователь сети автоматов с&nbsp;едой DC&nbsp;Daily #[a(href="#") Артур Шамалов] и&nbsp;бывший гендиректор X5&nbsp;Food Tech #[a(href="#") Владимир Холязников]. Первый dark store сервиса открылся в&nbsp;апреле 2021&nbsp;года.
						p
						p
						p
						h3 Компания планирует потратить инвестиции на&nbsp;расширение зоны доставки
						ol
							li Первый пункт нумерованного списка
							li Второй пункт нумерованного списка
							li Третий пункт нумерованного списка
							li Четвертый пункт нумерованного списка
						p
						p
						p
						h4 Jiffy также продаёт платформу собственной разработки другим
						+b.table-scroll-block.swiper
							.swiper-wrapper
								.swiper-slide 
									+e.wrap
										table
											thead 
												tr
													th
													th
														img(src="img/svg/logo.svg", alt="", loading="lazy")
													th Агрегатор
													th Свой сайт или мобильное приложение
											tbody
												mixin tr(t1,t2,t3,t4)
													tr
														th= t1
														td= t2
														td= t3
														td= t4 
												+tr(`Комиссия`,`0%`,`30-40%`,`0%`)
												+tr(`Срок запуска`,`3-5 дней`,`7-14 дней`,`30+ дней`)
												+tr(`Потребность в программисте`,`Нет`,`Нет`,`Да`)
												+tr(`Стоимость разработки`,`3 700 ₽ /мес`,`-`,`от 60 000 ₽`)
												+tr(`Обновления и улучшения`,`Ежемесячно автоматически, при условии подписки`,`Зависят от агрегатора`,`от 30 000 ₽ /год`)
							.swiper-scrollbar
						p
						p
						p
						h5 В&nbsp;марте 2021&nbsp;года, накануне запуска, Jiffy привлёк около $3,6 млн от&nbsp;LVL1 Group Льва Левиева
						p Компания, основанная фаундером DC&nbsp;Daily Артуром Шамаловым и&nbsp;бывшим генеральным директором X5&nbsp;Food Tech Владимиром Холязниковым, начала свою деятельность в&nbsp;апреле 2021&nbsp;года. С&nbsp;момента запуска Jiffy открыли восемь дарксторов в&nbsp;шести зонах доставки Лондона и&nbsp;нарастили базу в&nbsp;20&nbsp;тысяч клиентов.
						p Альтернативным источником дохода компания рассматривает предоставление своей IT-платформы для избранных локальных игроков на&nbsp;других рынках. К&nbsp;примеру, в&nbsp;настоящее время сервис сотрудничает с&nbsp;курьерской службой Send в&nbsp;Австралии.
						p
						+b.gallery2-slider--js.swiper
							.swiper-wrapper
								- for (var x = 0; x < 3; x++)
									+e.slide.swiper-slide
										a(href=`img/@2x/sContentGal2-1.jpg` data-fancybox='gallery-2')
											+pic('sContentGal2-1.jpg', 'bg')
							.swiper-pagination
							+arrow
						p
						p
						p
						h6 Галерея
						+b.gallery-slider--js.swiper
							.swiper-wrapper
								+e.slide.swiper-slide
									a(href=`img/@2x/sContentGal-1.jpg` data-fancybox='gallery-1')
										+pic('sContentGal-1.jpg', 'bg', `0`)
								+e.slide.swiper-slide
									a(href=`img/@2x/sContentGal-2.jpg` data-fancybox='gallery-1')
										+pic('sContentGal-2.jpg', 'bg', `0`)
								+e.slide.swiper-slide
									a(href=`img/@2x/sContentGal-3.jpg` data-fancybox='gallery-1')
										+pic('sContentGal-3.jpg', 'bg', `0`)
								+e.slide.swiper-slide
									a(href=`img/@2x/sContentGal-4.jpg` data-fancybox='gallery-1')
										+pic('sContentGal-4.jpg', 'bg', `0`)
								+e.slide.swiper-slide
									a(href=`img/@2x/sContentGal-3.jpg` data-fancybox='gallery-1')
										+pic('sContentGal-3.jpg', 'bg', `0`)
								+e.slide.swiper-slide
									a(href=`img/@2x/sContentGal-4.jpg` data-fancybox='gallery-1')
										+pic('sContentGal-4.jpg', 'bg', `0`)
						p
						p
						p Компания, основанная фаундером DC&nbsp;Daily Артуром Шамаловым и&nbsp;бывшим генеральным директором X5&nbsp;Food Tech Владимиром Холязниковым, начала свою деятельность в&nbsp;апреле 2021&nbsp;года. С&nbsp;момента запуска Jiffy открыли восемь дарксторов в&nbsp;шести зонах доставки Лондона и&nbsp;нарастили базу в&nbsp;20&nbsp;тысяч клиентов.
						p Альтернативным источником дохода компания рассматривает предоставление своей IT-платформы для избранных локальных игроков на&nbsp;других рынках. К&nbsp;примеру, в&nbsp;настоящее время сервис сотрудничает с&nbsp;курьерской службой Send в&nbsp;Австралии.
						hr
						+e.footer
							.row
								.col
									a(href="#") DC Daily
								.col-auto
									+social-block()
		

	// end sContent