mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Этапы подключения чат-бота
				p Подключение чат-бота занимает меньше недели
			.row
				mixin item(i, p)
					+e.col.col-sm-6.col-lg-3
						+b.item-with-img 
							+e.img 
								+pic(`step-${i}.png`,'','')
							+e.text 
								.h6= `${i} шаг`
								div= p
					// /.col-sm-6.col-lg-3
				
				+item('1','Оставляете заявку на сайте, с вами связывается менеджер для уточнения всех деталей, высылает договор.')
				+item('2','Создаем чат-бота, заполняем меню, предоставляем доступ в CRM-систему и рекламные материалы с QR-кодом.')
				+item('3','Размещаете QR-коды в вашем заведении, рассказываете о чат-боте в социальных сетях, кладете QR-коды в заказы.')
				+item('4','Ваши клиенты начинают заказывать доставку через чат-бота, пользоваться бонусной системой и приглашать друзей.')
	
	// end sSteps