// start .sSteps
.sSteps {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		.row{
			--bs-gutter-y: 40px;
		}
		&__col{
			z-index: 2;
			position: relative;
			@include media-breakpoint-up(sm) {

				&:not(:last-child)::before{
					
					content: '';
					position: absolute;
					left: 50%;
					top: rem(50);
					z-index: -1;
					width: 100%;
					height: 1px;
					border-top: 1px dashed #D9D9D9;
				}
			}
			@include media-breakpoint-down(lg) {
				&:nth-child(2){
					&::before{
						display: none;
					}
				}
			}

		}
	.item-with-img{
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSteps
