// start .sWhy
.sWhy {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		.row{
			--bs-gutter-x: 18px;
		}
		p{
			margin-bottom: 0;
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sWhy