mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Почему вам выгодно использовать чат-бота
				+e.P.p Заказ еды через мессенджер — будущее в сфере общепита
			.row
				mixin item(i, t, p)
					.col-12.col-sm-6.col-lg-3
						+b.item 
							+e.img 
								+pic(`why-${i}.png`,'','')
							+e.text 
								h6= t
								p= p


				+item('1','Не платите комиссию сервису каждого заказа', 'Вы оплачиваете сервис за месяц, как абонентскую плату за интернет. Мы не берем комиссию с заказов или обращений, вся прибыль остается у вас')
				+item('2','Не тратите деньги на разработку собственного сайта и приложения', 'Если у вас нет собственного сайтаи приложения, то вы экономите  на их разработке и поддержке — получаете решение ценностью не менее 60000₽, всего от 3700₽ в месяц.')
				+item('3','Ваши клиенты получают сервис с возможностью заказа еды через удобный мессенджер', 'Количество пользователей мессенджера Telegram растет с каждым днем, а вы получаете конкурентное преимущество, заказы и лояльность клиентов.')
				+item('4','Вашим клиентам не нужно скачивать приложение', 'Ваши клиенты один раз сканируют QR-код, который перенаправит их на чат-бота, авторизовавшись в котором один раз, они останутся с вами для будущих заказов.')
	// end sWhy