// start .sAccordion
.sAccordion {
	// --sPB: #{rem(49)};
	--sTPB: #{rem(56)};
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		&--faq{
			.accordion-item{
				margin-left: auto;
				margin-right: auto;
				max-width: rem(780);
				&__head{
					font-size: rem(18);
					padding-top: rem(40);
					padding-bottom: rem(40);
				}
				&__content{
					padding-left: 0; 
				}
			}
		}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAccordion