mixin sAccordion(data)
	// start sAccordion
	+b.sAccordion.section#sAccordion&attributes(attributes)
		.container
			+b.section-title.text-center
				h2!= data.t
				if data.p
					p!= data.p
			div
				block
	// end sAccordion