.menu{
	@include media-breakpoint-up(lg) {

		display: flex;
		text-align: center;
		@include roww(20px);
		flex-wrap: wrap;
	}

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		padding: rem(20) calc(var(--bs-gutter-x) / 2);
	}
}



@include media-breakpoint-down(lg) {

	
	.toggle-menu-mobile {
		--h: #{rem(2)};
		--color: #{$body-color};
		--position: calc(var(--h) * 4);
		&.on span {
			--color: transparent;
			&::before,
			&::after{
				--color: #{$body-color};

			}
		}

		&.on  { 
			--position: 0; 
			--rotate: 45deg;
		}
		display: block;
		height: calc(var(--h)* 10);
		position: relative; 
		font-size: 30px;
		width: 1em;
		cursor: pointer;
		span:after,
		span:before {
			content: "";
			position: absolute;
			left: 0;
			background: $body-color;
		} 
		span {
			@include a-cent(y);
			display: block;
		}

		span:before { 
			top: var(--position);
			transform: rotate3d(0,0,1, var(--rotate, 0));
		}

		span:after {
			bottom: var(--position);
			transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
		}
		span,
		span:after,
		span:before {
			// width: 32px;
			width: 1em;
			height: var(--h);
			background-color: var(--color);
			transition: all 0.3s;
			backface-visibility: hidden; 
			transform-origin: 50% 50%;
		} 
	}

	.menu-mobile {
		position: fixed !important;
		z-index: 999;
		// max-width: 85%;
		height: calc(var(--vh, 1vh) * 100);
		width: 100%;
		top: 0;
		// left: 0;
		right: 0;
		background-color: $body-bg;
		padding-top: rem(100px);
		.row{
			justify-content: center;
			.col-auto{
				max-width: 50%;
			}
		}
		&__btn{ 
			max-width: 100%;
			width: rem(246);
			padding: 20px;
		}
		&:not(.active){
			transform: translate3d( 0, -120%,0);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;
		text-align: center;

		
		.toggle-menu-mobile { 
			margin-left: -15%;
			position: absolute; 
			left: 0;
			right: auto;
			color: #FFF;
			top: 10px;
			z-index: 9999; 
			
			span:after,
			span:before {
				--color: #FFF;
			}
		}
		&__inner {
			padding: rem(20) 0;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			display: flex;
			flex-direction: column;
			@include mt(.3s);
			transition-delay: .4s;
			opacity: var(--opacity);
			.container{
				display: flex;
				flex-direction: column;
				height: 100%;
			}
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}


		ul {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow: 1;
			padding: rem(20) 0;
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, .13);

			a {
				// font-size: 16px;
				font-size: 50px;
				color: $body-color;
				font-weight: bold;
				padding: 10px;
				display: block;
				
			}
		}
		.soc{
			justify-content: center;
			border-top: 1px solid #E8E8E8;
			margin-top: 5vh;
			padding-top: 5vh;
			padding-bottom: 5vh;
		}
		&__mail{
			display: inline-block;
			color: $body-color;
			opacity: 0.5;
	
		}
	}
}

	.menu-mobile{
		&__btn{
			@extend .btn;
		}
	}