 
	  
.soc{
	@include roww(5px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		width: rem(30);
		height: rem(30);
		border-radius: 50%;
		background-color: var(--bg, var(--bs-primary));
		color: #fff !important;
		&:hover{
			background-color: var(--bg-hover);
		}
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		&--instagram{
			--bg: #E1306C;
			--bg-hover: #ce084a;
		}
		
		&--vk{
			--bg: #0077FF;
			--bg-hover: #1068cc;
		}
		&--telegram2{
			--bg: #2FA6D9;
			--bg-hover: #0b76a3;
		}
		&--twitter{
			--bg: #1DA1F2;
			--bg-hover: #0679c0;
		}
		&--facebook{
			--bg: #4267B2;
			--bg-hover: #274279;
		}

	}
	.icon{
		font-size: rem(16);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}