mixin sCompare(data)
	// start sCompare
	+b.SECTION.sCompare.section#sCompare&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Сравните чат-бот с&nbsp;конкурентными решениями
				p Мы&nbsp;учли все детали в&nbsp;сервисе, чтобы владельцы ресторанного бизнеса получали максимум пользы и&nbsp;поддержки
			+e.table-scroll.swiper
				.swiper-wrapper
					.swiper-slide 
						+e.table-wrap
							table
								thead 
									tr
										th
										th
											img(src="img/svg/logo.svg", alt="", loading="lazy")
										th Агрегатор
										th Свой сайт или мобильное приложение
								tbody
									mixin tr(t1,t2,t3,t4)
										tr
											th= t1
											td= t2
											td= t3
											td= t4 
									+tr(`Комиссия`,`0%`,`30-40%`,`0%`)
									+tr(`Срок запуска`,`3-5 дней`,`7-14 дней`,`30+ дней`)
									+tr(`Потребность в программисте`,`Нет`,`Нет`,`Да`)
									+tr(`Стоимость разработки`,`3 700 ₽ /мес`,`-`,`от 60 000 ₽`)
									+tr(`Обновления и улучшения`,`Ежемесячно автоматически, при условии подписки`,`Зависят от агрегатора`,`от 30 000 ₽ /год`)
				.swiper-scrollbar
			p Для максимального эффекта вы можете использовать чат-бота для получения заказов паралельно с агрегаторами, своим сайтом или приложением.
			+e.btn(href="#") Создать чат-бота
	// end sCompare