mixin item-sos(icon, a='#')
	+e.A.item(href= a class=`soc__item--${icon}` target="_blank")
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('instagram')
			+item-sos('vk')
			+item-sos('telegram2')
			+item-sos('twitter')
			+item-sos('facebook')

//- /social buttons 